<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    
<%= csrf_meta_tags %>


    
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    
<%= yield %>
<h1>タスク新規作成ページ</h1>

<%= render 'form', task: @task %>

<%= link_to '一覧に戻る', tasks_path %>

  </body>
</html>