<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    
<%= csrf_meta_tags %>


    
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    
<%= yield %>
<h1>タスク新規作成ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'メッセージ' %>
  <%= f.text_field :content %>

  <%= f.submit '追加' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>

  </body>
</html>